<header class="site-header">
  <div class="wrapper title-margin">
    <p class="text-center title-text">
      <a class="site-title" href="{{ "/" | relative_url}}">Fresno Grape Stake Yard</a>
    </p>
    <p class="text-center subtitle-text">
      <i class="fa fa-phone"></i> (559) 237-3922
    </p>
  </div>
</header>

<div class="flat-section green">
  <div class="wrapper text-center">
    <nav class="site-nav">
      <div class="trigger">
        {% assign sorted_pages = site.pages | sort: "order" %}
        {% for node in sorted_pages %}
          {% if node.group == 'main' %}
            {% if page.url == node.url %}
              <!-- <li class="active"><a href="{{node.permalink}}" class="active">{{node.title}}</a></li> -->
              <a class="active" href="{{node.permalink}}">{{node.title}}</a>
            {% else %}
              <!-- <li><a href="{{node.permalink}}">{{node.title}}</a></li> -->
              <a class="page-link" href="{{node.permalink}}">{{node.title}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- <a class="page-link" href="/"        >About</a>
        <a class="page-link" href="/history" >History</a>
        <a class="page-link" href="/products">Products</a>
        <a class="page-link" href="/outreach">Outreach</a> -->
      </div>
    </nav>
  </div>
</div>