<header class="site-header" role="banner">
  <div class="wrapper title-margin">
    <p class="text-center title-text">
      <a class="site-title" href="{{ "/" | relative_url}}">Fresno Grape Stake Yard</a>
    </p>
    <p class="text-center">
      <i class="fa fa-phone"></i> (559) 237-3922
    </p>
  </div>
</header>

<div class="flat-section green">
  <div class="wrapper text-center">
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</div>