<header class="site-header" role="banner">
  <div class="wrapper title-margin">
    <p class="text-center title-text">
      <a class="site-title" href="{{ "/" | relative_url}}">Fresno Grape Stake Yard</a>
    </p>
    <p class="text-center">
      <i class="fa fa-phone"></i> (559) 237-3922
    </p>
  </div>
</header>

<div class="flat-section green">
  <div class="wrapper text-center">
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/"        >About</a>
        <a class="page-link" href="/history" >History</a>
        <a class="page-link" href="/products">Products</a>
        <a class="page-link" href="/outreach">Outreach</a>
      </div>
    </nav>
  </div>
</div>