---
layout: default
---

<div class="home text-center">
  <div class="fgsy-card">
    <img src="assets/fgsy.png" alt="Contact details" />
  </div>

  <div class="table">
    <div class="clear">
      <div class="table-left">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="table-right">
        Open M-F 8:30AM-4:00PM
      </div>
    </div>

    <div class="clear">
      <div class="table-left">
        <i class="fa fa-credit-card"></i>
      </div>
      <div class="table-right">
        We accept Visa, Mastercard, Discover, and Debit Cards.
      </div>
    </div>

    <div class="clear">
      <div class="table-left">
        <i class="fa fa-map-marker"></i>
      </div>
      <div class="table-right">
        2838 S. Elm Ave, Fresno, CA 93706
      </div>
    </div>

    <div class="clear"></div>
  </div>

  <div>
    <a href="http://goo.gl/zjqoig">
      <div class="clear map">
        <img class="fill-w" src="assets/map.png" alt="Map to Fresno Grape Stake Yard" />
      </div>

      View Larger Map
    </a>
  </div>

  <div>
    <a href="http://i.imgur.com/tFzVc.jpg" rel="lightbox">
      <img src="assets/thumbs/harold-jim.jpg" alt="Jim, Harold, and Stan" />
    </a>
    <a href="http://i.imgur.com/mpkRu.jpg" rel="lightbox">
      <img src="assets/thumbs/dianne-andrea.jpg" alt="Dianne, Irene, and Andrea" />
    </a>
    <a href="images/brian.jpg" rel="lightbox">
      <img src="assets/thumbs/brian.jpg" alt="Brian" />
    </a>
  </div>
</div>
