---
layout: default
---

<div class="flat-section text-center">
  <div class="fgsy-card">
    <img src="assets/fgsy.png" alt="Contact details" width="716" height="321" />
  </div>
</div>

<div class="wrapper">
  <div class="home text-center">
    <div class="table">
      <div class="clear">
        <div class="table-left">
          <i class="fa fa-calendar"></i>
        </div>
        <div class="table-right">
          Open M-F Please call for working hours
        </div>
      </div>

      <div class="clear">
        <div class="table-left">
          <i class="fa fa-credit-card"></i>
        </div>
        <div class="table-right">
          We accept Visa, Mastercard, Discover, and Debit Cards.
        </div>
      </div>

      <div class="clear">
        <div class="table-left">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="table-right">
          2838 S. Elm Ave, Fresno, CA 93706
        </div>
      </div>

      <div class="clear"></div>
    </div>

    <div>
      <a href="http://goo.gl/zjqoig">
        <div class="clear">
          <img class="fill-w map" src="assets/map.png" alt="Map to Fresno Grape Stake Yard" width="900" height="350" />
        </div>

        View Larger Map
      </a>
    </div>
  </div>
</div>
