---
layout: default
---

<div class="home text-center">
  <div class="fgsy-card">
    <img src="assets/fgsy.png" alt="Contact details" />
  </div>

  <p>Now Accepting Visa, Mastercard, Discover, and Debit Cards.</p>

  <a href="http://goo.gl/zjqoig">
    <div class="map">
      <img class="fill-w" src="assets/map.png" alt="Map to Fresno Grape Stake Yard" />
    </div>

    View Larger Map
  </a>

  <div>
    <a href="http://i.imgur.com/tFzVc.jpg" rel="lightbox">
      <img src="assets/thumbs/harold-jim.jpg" alt="Jim, Harold, and Stan" />
    </a>
    <a href="http://i.imgur.com/mpkRu.jpg" rel="lightbox">
      <img src="assets/thumbs/dianne-andrea.jpg" alt="Dianne, Irene, and Andrea" />
    </a>
    <a href="images/brian.jpg" rel="lightbox">
      <img src="assets/thumbs/brian.jpg" alt="Brian" />
    </a>
  </div>
</div>
