---
layout: page
---

<h1>A short history of Fresno Grape Stake Yard</h1>

<div class="text-center margin-bottom">
  <a href="http://i.imgur.com/dL1oP.jpg" rel="lightbox"><img
      src="images/thumbs/h1.jpg" alt="Founders" /></a>
  <a href="http://i.imgur.com/wyx50.jpg" rel="lightbox"><img
      src="images/thumbs/h2.jpg" alt="Harold as a young boy" /></a>
  <a href="http://i.imgur.com/btjJ5.jpg" rel="lightbox"><img
      src="images/thumbs/h3.jpg" alt="Old school" /></a>
</div>

<div class="history-content">
  {{ content }}
</div>

<div class="text-center margin-bottom">
  <a href="http://i.imgur.com/iVlb0.jpg" rel="lightbox"><img
      src="images/thumbs/h4.jpg" alt="Harold and Stan today" /></a>
  <a href="http://i.imgur.com/B6Gkm.jpg" rel="lightbox"><img
      src="images/thumbs/h5.jpg" alt="The Grape Stake Yard today" /></a>
  <a href="http://i.imgur.com/tFzVc.jpg" rel="lightbox">
    <img src="assets/thumbs/harold-jim.jpg" alt="Jim, Harold, and Stan" />
  </a>
</div>
