---
layout: page
---

    <script type="text/javascript">
        $(document).ready(function(){
            var id = 0;
            if(id==13){
                $('#panel5-52galvanized').hide();
                $('#show-panel5-52galvanized').click(function(){;
                    $('#panel5-52galvanized').slideDown();
                });
                $('#econo-gate1').hide();
                $('#show-econo-gate1').click(function(){;
                    $('#econo-gate1').slideDown();
                });
                $('#econo-rancher-gate').hide();
                $('#show-econo-rancher-gate').click(function(){;
                    $('#econo-rancher-gate').slideDown();
                });
                $('#super-rancher-gate').hide();
                $('#show-super-rancher-gate').click(function(){;
                    $('#super-rancher-gate').slideDown();
                });
                $('#canine-kennel').hide();
                $('#show-canine-kennel').click(function(){;
                    $('#canine-kennel').slideDown();
                });
                $('#heavy-rail-pipe-gate').hide();
                $('#show-heavy-rail-pipe-gate').click(function(){;
                    $('#heavy-rail-pipe-gate').slideDown();
                });
                $('#heavy-rail-pipe-panel').hide();
                $('#show-heavy-rail-pipe-panel').click(function(){;
                    $('#heavy-rail-pipe-panel').slideDown();
                });
            }else if(id==15){
                $('#lifter').hide();
                $('#show-lifter').click(function(){;
                    $('#lifter').slideDown();
                });
                $('#maasdam').hide();
                $('#wire-grip').hide();
                $('#show-maasdam').click(function(){;
                    $('#maasdam').slideDown();
                });
                $('#show-wire-grip').click(function(){;
                    $('#wire-grip').slideDown();
                });
            }
        });
    </script>


<div class="text-center product-menu">
    <ul>
        <li id="category-15">
            <a href="/products/ag-supplies">Ag Supplies</a>
        </li>
        <li id="category-12"><a href="?id=12">Corral Fencing</a></li>
        <li id="category-5"><a href="?id=5">Grape Stakes - Farming</a></li>
        <li id="category-4"><a href="?id=4">Grape Stakes - Fencing</a></li>
        <li id="category-10"><a href="?id=10">Lodgepole Pine/End Post</a></li>
        <li id="category-16"><a href="?id=16">Plastic Sheeting</a></li>
        <li id="category-17">
            <a href="/products/postmaster-steel-posts">PostMaster
                Steel Posts</a>
        </li>
        <li id="category-14"><a href="?id=14">Potting Mixes</a></li>
        <li id="category-13"><a href="?id=13">Ranch Gates</a></li>
        <li id="category-3"><a href="?id=3">Split Rail Cedar Fencing</a></li>
        <li id="category-9"><a href="/products/t-post">T-Post</a></li>
        <li id="category-6">
            <a href="/products/tomato-stakes">Tomato Stakes</a>
        </li>
        <li id="category-7"><a href="?id=7">Tree Props/Tree Stakes</a></li>
        <li id="category-8">
            <a href="/products/vineyard-wire">Vineyard Wire (100LB Rolls)</a>
        </li>
        <li id="category-2"><a href="?id=2">Wire Fencing</a></li>
        <li id="category-1">
            <a href="/products/wood-fencing">Wood Fencing</a>
        </li>
        <li id="category-0"><a href="/products/misc-items">Misc. Items</a></li>
    </ul>
</div>

<div class='leftprods'>
    {{ content }}
</div>

<br class="clear" />

{% for js in page.custom_js %}
<script type="text/javascript">
   {% include {{ js }} %}
</script>
{% endfor %}
