---
layout: page
---

<h1>{{ page.title }}</h1>

<div class="text-center product-menu">
    <ul>
        <li class="hidden"><input id="searchbox" type="text" placeholder="Search by keyword" /></li>

{% for node in site.pages %}
    {% if node.group == 'products' %}
        {% if page.url == node.url %}
            <li class="active"><a href="{{node.permalink}}" class="active">{{node.title}}</a></li>
        {% else %}
            <li><a href="{{node.permalink}}">{{node.title}}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}

    </ul>
</div>

<div class='leftprods'>
    {{ content }}
</div>

<br class="clear" />

{% for js in page.custom_js %}
<script>
    {% include {{ js }} %}
</script>
{% endfor %}

<script type="module">
    import { search, default as init } from '/assets/tinysearch_engine.js';
    window.search = search;

    async function run() {
      await init('/assets/tinysearch_engine_bg.wasm');
    }

    run();
</script>

<script>
    $(document).ready(() => {
        $('li.hidden').removeClass("hidden");
    });

    $('#searchbox').keyup((event) => {
        const text = $(event.currentTarget).val();
        const matching_uris = search(text, 99).map(([_title, url]) => url);
        console.log(`${text} ${matching_uris}`);

        $('.product-menu a').each((_, el) => {
            const uri = $(el).attr('href');
            $(el).toggleClass("highlight", matching_uris.includes(uri));
        });
    });
</script>